html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #EEEEEE;
}

core-scroll-header-panel {
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

core-scroll-header-panel::shadow #headerBg {
	background-image: url(../images/back.jpg);
}

core-scroll-header-panel::shadow #condensedHeaderBg {
	background-color: #03A9F4;
}

#scroll-toolbar {
	background-color: transparent;
	color: white;
}

#drawer-toolbar {
  color: white;
  background-color: #03A9F4;
}

paper-item {
  color: black;
}