:host {
  display: block;
}
paper-tabs {
	background-color: #03A9F4;
	color: white;
	height:auto;
}
paper-tab::shadow #ink {
		color: #ecf0f1;
}
paper-tabs::shadow #selectionBar{
	background-color:white;
}
paper-button{
	background-color: #2ecc71;
}
.contain-this{
	width:50%;
	margin-right: auto;
	margin-left: auto;
}
section{
	height:auto;
}
html /deep/ #calendar {
  	width:500px;
  	height:500px;
	background-color: black;
}
